# Python / Dipendenze
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Streamlit
.streamlit/

# Test e coperture
.pytest_cache/
htmlcov/
Backend/OneShot/scripts/

# Editor e IDE
.vscode/
.idea/
*.swp
*.swo

compress.ps1
Documenti/
Nutriflow_clean.zip